body{
    background-color: blueviolet;
}

div{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aqua;
    padding: 20px;
    margin: 20px;
    background-color: burlywood;
    text-align: center;
    border: 10px solid black;
    border-radius: 25px;
}

h1:hover{
    color: whitesmoke;
}