@font-face {
    font-family: buttermilk;
    src: url("./PlaywriteIN-VariableFont_wght.woff2");
}


body{
    background-color: blueviolet;
}

div{
    font-family: buttermilk;
    color: aqua;
    padding: 20px;
    margin: 20px;
    background-color: burlywood;
    text-align: center;
    border: 10px solid black;
    border-radius: 25px;
}

h1:hover{
    color: whitesmoke;
}